h1{
    text-align: center;
    color: rgb(211, 231, 219);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2cm;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}
#h3,h2{
    color: darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9cm;
    font-weight: 100;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#head3{
    text-align: center;
    color: rgb(177, 196, 185);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2cm;
    font-weight: 100;
}
#head4{
    text-align: center;
    color: rgb(177, 196, 185);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1cm;
    font-weight: 100;
}
#body{
    background-color: rgb(152, 156, 160);
    background-image: url("../images/bg.webp"),linear-gradient(rgba(0, 0, 0, 100),rgb(0, 0, 0,100));
    background-size: cover;
    background-blend-mode: overlay;
    
}
table{
    margin-left: auto;
    margin-right: auto;
}
input{
   border-radius: 0.5cm;
   border-top-color: rgb(37, 78, 61);
   border-bottom-color: rgb(37, 78, 61);
   border-right-color: rgb(37, 68, 61);
   width: 250px;
   height: 40px;
   background-color: rgb(230, 230, 203);
   text-align: center;
   font-size: large;
}
fieldset{
    background-color: rgb(196, 240, 167);
    border-radius: 0.5cm;
    border-width: 0.5cm;
    border-color: black;
    float: left;
    padding: 20px;
    margin-left:420px;
    width: 500px;
}
button{
    background-color: rgb(39, 170, 61);
    border-radius: 2cm;
    width: 255px;
    height: 40px;
    font-size: large;
    font-weight: 600;
    border-style: double;
}
a{
    color: rgb(24, 73, 57);
    font-size: large;
    text-align: center;
    text-decoration: none;
}
h2{
    text-align: center;
        }
#t1{
   font-size: small;
}
#fname,#lname,#phone,#email,#Password,#confirm_password,#OTP,#Mobile_no,#OTP2,#user,#passwd{
    width: 10cm;
    height: 0.9cm;
    border-radius: 0.1cm;
    border: 1px solid rgb(74, 112, 89);
    padding-top: 5px;
    background-color: rgb(206, 221, 208);
}
#fname:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#lname:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#phone:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#email:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#Password:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#confirm_password:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#OTP:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#OTP2:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#Mobile_no:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#user:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#passwd:hover{
    width:  10cm;
    height:  0.9cm;
    border-radius: 0.1cm;
    border: 2px solid rgb(48, 92, 59);
}
#otp_verify,#loginbutton,#signupbutton{
    border-radius: 0.1cm;
    width: 10cm;
    border: 0px;
    color: green;
}
#otp_verify:hover{
    border-radius: 0.1cm;
    width: 10cm;
    border: 2px solid green;
    color: green;
}
#loginbutton:hover{
    border-radius: 0.1cm;
    width: 10cm;
    border: 2px solid green;
    color: green;
}
#signupbutton:hover{
    border-radius: 0.1cm;
    width: 10cm;
    border: 2px solid green;
    color: green;
}
#resend_otp{
    border-radius: 0.1cm;
    width: 10cm;
    border: 0px;
    color: green;
}
#resend_otp:hover{
    border-radius: 0.1cm;
    width: 10cm;
    border: 2px solid green;
    color: green;
}
#cancel,#sign_up{
    border-radius: 0.2cm;
    width: 3cm;
    border: 0px;
    color: green;
}
#cancel:hover{
    border-radius: 0.2cm;
    width: 3.1cm;
    color: green;
    border: 1px solid green;
}
#sign_up:hover{
    border-radius: 0.2cm;
    width: 3.1cm;
    color: green;
    border: 1px solid green;
}
#field1{
    width: 550px;
    padding-top: 0px;
    height: 11cm;
    border-radius: 0.5cm;
    border-width: 0.5cm;
    border-color: black;
    margin-left: 365px;
    margin-top: auto;
    display: inline-block;
}

#field2{  
        border-radius: 0.3cm;
        border-width: 0.2cm;
        padding-top: 20px;
        padding: 30px 10px;
        padding-top: 0.90px;
        padding-bottom: 30px ;
        background-color: rgb(196, 240, 167);
        margin-left: 0.5cm;
        
}
#error{
    font-size: medium;
    margin-left: 200px;
}
#otp_error{
    font-size: medium;
    margin-left: 200px;
}
#otp_error2{
    font-size: medium;
    margin-left: 200px;
}
#signin_error{
    font-size: medium;
    margin-left: 110px;
}
label{
    padding-left: 1cm;
    font-size: x-large;
}
#donation{
    padding-left: 3cm;
    font-size: x-large;
}
#input2{
        font-size: large;
        color: rgb(127, 153, 109);
        border-radius: 0.4cm;
        height: 0.8cm;
        border-width: 0cm;
        background-color: rgb(104, 230, 131);
}
#bg1{
    background-color: rgb(151, 185, 141);
}
#head1{
        color: rgb(211, 231, 219);
        font-family: 'Courier New', Courier, monospace;
        font-size: 1cm;
        font-weight: 100;
}
mark{
    background-color: rgb(127, 153, 109);
    border-radius: 0.2cm;
    font-size: large;
}
#field3{
    float: left; 
     width: 10cm;
     height: 4cm;
     border-radius: 0.3cm;
     background-color: rgb(216, 250, 215);
     border-width: 0cm;
     margin-left: 1cm;
     padding-left: 0.2cm;
    padding-top: 0.2cm;
}
#field4{
    float: left; 
    width: 10cm;
     height: 4cm;
     padding-left: 0.2cm;
     border-radius: 0.3cm;
     background-color: rgb(216, 250, 215);
     border-width: 0cm;
     margin-left: 1cm;
     margin-top: 0.3cm;
     padding-top: 0.2cm;
}
#field5{
    padding-top: 0.2cm;
     float: left; 
     width: 10cm;
     height: 4cm;
     padding-left: 0.2cm;
     border-radius: 0.3cm;
     background-color: rgb(216, 250, 215);
     border-width: 0cm;
     margin-left: 1cm;
     margin-top: 0.3cm;
}
#head{
    text-align: center;
    color: rgb(182, 206, 191);
    border: black solid;
}
#field6{
    border-radius: 0.3cm;
    background-color: rgb(216, 250, 215);
    border-width: 0.2cm;
    margin: auto;
    margin-top: 2cm;
    width: 20cm;
    margin-left: 7cm;
    height:fit-content;
    padding-left: 0.5cm;
}
#field7{
    border-radius: 0.3cm;
    background-color: rgb(216, 250, 215);
    border-width: 0.2cm;
    margin-left: 9.5cm;
    margin-top: 2cm;
    width: 16cm;
     height: 8cm;
     padding-left: 0.5cm;
}
.t1,#th{
    padding-left: 2px;
    margin-left: auto;
}
#b2{
    float: right;
    border-radius: 0.2cm;
    width: 4cm;
    border: none;
}
#i1,#i2{
    font-size: large;
        color: rgb(127, 153, 109);
        border-radius: 0.1cm;
        height: 0.8cm;
        border-width: 0.1cm;
        background-color: rgb(255, 255, 255);
        border-color: rgb(165, 214, 165);
}
#i3{
    font-size: large;
    color: rgb(127, 153, 109);
    border-radius: 0.1cm;
    height: 0.8cm;
    border-width: 0.1cm;
    width: 13.6cm;
    border-color: rgb(165, 214, 165);
    background-color: rgb(255, 255, 255); 
}
#i5{
    font-size: large;
    color: rgb(127, 153, 109);
    border-radius: 0.1cm;
    height: 0.9cm;
    width: 13.6cm;
    border-width: 0.1cm;
    border-color: rgb(165, 214, 165);
    background-color: rgb(255, 255, 255); 
}
#select,#i4{
    font-size: large;
        color: rgb(127, 153, 109);
        border-radius: 0.1cm;
        height: 0.8cm;
        width: 6.7cm;
        border-width: 0.1cm;
        border-color: rgb(165, 214, 165);
        background-color: rgb(255, 255, 255);
}
#b3{
    border-radius: 0.2cm;
    border: none;
}
#b4{
    
    border-radius: 0.2cm;
    border: none;
    float: right;
}
#body1{
    background-color: azure;
}
#loc{
    position: absolute;
    left: 10cm;
}
.searchicon{
    position: absolute;
    top: 93px;
    left: 165px;
}
.locicon{
    position: absolute;
    top: 93px;
    left: 530px;
}
#trustplacebutton{
    border-radius: 0.1cm;
    width: 2cm;
    height: 0.8cm;
    border: 0px;
    color: rgb(37, 46, 37);
    font-size: smaller;
    position: absolute;
    margin-top: 0px;
    margin-left: 6px;
}
#placelist{
    font-size: large;
    color: rgb(127, 153, 109);
    border-radius: 0.1cm;
    height: 0.8cm;
    border-width: 0.1cm;
    width: 7.6cm;
    border-color: rgb(165, 214, 165);
    background-color: rgb(255, 255, 255); 
    padding-left: 30px;
}
#donationlist{
    font-size: large;
    color: rgb(127, 153, 109);
    border-radius: 0.1cm;
    height: 0.8cm;
    border-width: 0.1cm;
    width: 7.6cm;
    border-color: rgb(165, 214, 165);
    background-color: rgb(255, 255, 255); 
    padding-left: 30px;
}
